{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Gestion des équipes
{% endblock %}

{% block active6 %} class="sub-menu active" {% endblock %}
    {% block active62 %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <!--**********************************************************-->
    <h1>BODY</h1>
{% endblock %}
