{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Offres
{% endblock %}

{% block active7 %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <div class="card">
        <div class="card-header">

        </div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped">
                <thead>
                <tr>
                    <th data-column-id="id" data-type="numeric">ID</th>
                    <th data-column-id="sender">Description</th>
                    <th data-column-id="received" data-order="desc">Mots clés</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10238</td>
                    <td>Pour le compte d'un de nos partenaires, CPL JOBS Tunisie, recrute le profil suivant :

                        Développeurs Java/ JEE Confirmé (Senior)...
                    </td>
                    <td>jee , java</td>
                    <td>
                        <div class="pull-right">
                            <a class="btn btn-success " style=" width: 50% " href="{{ path('espritsocialpro_ajoutoffre') }}">Ajout</a>
                            <button class="btn btn-primary">Modification</button>
                            <button class="btn btn-danger">Suppression</button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
