{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Offres
{% endblock %}

{% block active7 %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <div class="card">
        <div class="card-header">
            <div class="pull-right">
                <a class="btn btn-success"
                   href="{{ path('espritsocialpro_ajoutoffre') }}">Ajout</a>
                <a href="#" class="btn btn-primary">Modification</a>
                <a href="#" class="btn btn-danger">Suppression</a>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Mots clés</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10238</td>
                    <td>Pour le compte d'un de nos partenaires, CPL JOBS Tunisie, recrute le profil suivant :

                        Développeurs Java/ JEE Confirmé (Senior)...
                    </td>
                    <td>jee , java</td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
