{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Forum
{% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <!--**********************************************************-->
    <h1>BODY</h1>
{% endblock %}
