{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Historique
{% endblock %}

{% block active10 %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <button class="btn btn-float bgm-red m-btn waves-effect waves-circle waves-float"><i class="zmdi zmdi-print"></i></button>
    <div class="pull-right"> <button class="btn palette-Cyan btn-icon bg waves-effect waves-circle waves-float"><i class="zmdi zmdi-collection-pdf zmdi-hc-fw"></i></button> </div>
    <div class="pull-right"> <button class="btn btn-danger btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-border-all zmdi-hc-fw"></i></button> </div>
    <div class="pull-right"> <button class="btn palette-Lime btn-icon bg waves-effect waves-circle waves-float
"><i class="zmdi zmdi-copy zmdi-hc-fw"></i></button> </div>

    <!--**********************************************************-->
    <div class="clearfix"></div>


    <table class="table i-table m-t-25 m-b-30">
        <thead class="text-uppercase">
        <th class="c-gray">DATE</th>
        <th></th>
        <th></th>
        <th class="c-gray">TÂCHE</th>


        </thead>

        <tbody>
        <thead>
        <tr>
            <td width="20%">
                <h5 class="text-uppercase f-400">22/9/2016</h5>

            </td>
            <td></td>
            <td></td>


            <td      width="200%"
                     class="highlight"> <h5 class="text-uppercase f-400">securiser l'acces </h5></td>
        </tr>

        <tr>
            <td>
                <h5 class="text-uppercase f-400">5/10/2016</h5>

            </td>
            <td></td>
            <td></td>
            <td
                    class="highlight"> <h5 class="text-uppercase f-400">Commenter le code </h5></td>
        </tr>

        <tr>
            <td>
                <h5 class="text-uppercase f-400">8/12/2016</h5>
               </td>
            <td></td>
            <td></td>
            <td  class="highlight"> <h5 class="text-uppercase f-400">Réunion avec departement telecom </h5>partage des taches du projet</td></td>
        </tr>

        <tr>
            <td>
                <h5 class="text-uppercase f-400">5/1/2017</h5>
            </td>
            <td></td>
            <td></td>
            <td  class="highlight"> <h5 class="text-uppercase f-400"> fin du projet "pidev" </h5>ooooooooooo</td></td>
        </tr>

        </thead>
        </tbody>
    </table>



{% endblock %}
