{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Gestion des affectations
{% endblock %}

{% block descheader %}


{% endblock %}

{% block active3 %} class="sub-menu active" {% endblock %}
    {% block active33 %} class="active" {% endblock %}
{% block bodyheader %}

{% endblock %}

{% block bodymain %}


        <div class="card">
            <div class="pull-right">
                <div class="card-header">
                    <p>
                        <button class="btn palette-Teal bg"><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Ajouter</button>
                        <button class="btn palette-Teal bg"><i class="zmdi zmdi-time-restore-setting zmdi-hc-fw"></i>Transferer</button>
                    </p>
                </div>
            </div>

            <div class="card-header">
                </div>

            <div class="table-responsive">
                <table id="data-table-selection" class="table table-striped">
                    <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true">ID</th>
                        <th data-column-id="nom">Nom</th>
                        <th data-column-id="prenom" data-order="desc">Prenom</th>
                        <th data-column-id="role" data-order="desc">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>10238</td>
                        <td>zayene</td>
                        <td>edughjjjjjj</td>
                        <td>ingenieur telecom</td>
                    </tr>
                    <tr>
                        <td>10285</td>
                        <td>achour</td>
                        <td>elyes</td>
                        <td>ingenieur business analytics</td>
                    </tr>
                    <tr>
                        <td>10285</td>
                        <td>rachdi</td>
                        <td>midani</td>
                        <td>ingenieur informatique</td>
                    </tr>
                    <tr>
                        <td>10225</td>
                        <td>fakhfekh</td>
                        <td>khalil</td>
                        <td>ingenieur telecom</td>
                    </tr>
                    <tr>
                        <td>10226</td>
                        <td>sassi</td>
                        <td>sana</td>
                        <td>ingenieur electrique</td>
                    </tr>
                    <tr>
                        <td>10237</td>
                        <td>rhif</td>
                        <td>hedi</td>
                        <td>ingenieur genie civil</td>
                    </tr>
                    <tr>
                        <td>10239</td>
                        <td>derbel</td>
                        <td>ines</td>
                        <td>ingenieur electronique</td>
                    </tr>
                    <tr>
                        <td>10210</td>
                        <td>karim</td>
                        <td>jrad</td>
                        <td>ingenieur mathematique</td>
                    </tr>
                    <tr>
                        <td>10274</td>
                        <td>baba</td>
                        <td>najoua</td>
                        <td>ingenieur informatique</td>
                    </tr>
                    <tr>
                        <td>10200</td>
                        <td>golli</td>
                        <td>wissem</td>
                        <td>ingenieur aeronautique</td>
                    </tr>
                    <tr>
                        <td>10220</td>
                        <td>mnakbi</td>
                        <td>mohamed</td>
                        <td>ingenieur genie logiciel</td>
                    </tr>
                    <tr>
                        <td>10231</td>
                        <td>belhadj</td>
                        <td>iheb</td>
                        <td>ingenieur telecom</td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>


{% endblock %}
