{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Gestion des affectations
{% endblock %}

{% block descheader %}


{% endblock %}

{% block active3 %} class="sub-menu active" {% endblock %}
    {% block active33 %} class="active" {% endblock %}
{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <h1>BODY</h1>
{% endblock %}
