{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Fil d'actualité
{% endblock %}

{% block active %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <!--**********************************************************-->
    <h1>BODY</h1>
{% endblock %}
