{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Calendrier des Réunions
{% endblock %}

{% block descheader %}

{% endblock %}
{% block cssjs %}


{% endblock %}
{% block bodyheader %}

{% endblock %}

{% block active31 %} class="sub-menu active" {% endblock %}
{% block active5 %} class="active" {% endblock %}

{% block bodymain %}

<section id="content">
<div class="container c-boxed">


        <div id="calendar" class="card">

        </div>
    <div class="card-body card-padding">
        <div class="row">
    <div class="fg-line">
        <div class="col-sm-3 m-b-15">
            <p class="f-500 c-black m-b-15">Disabled Items</p>
            <select class="chosen" data-placeholder="Choose a Country...">
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
                <option disabled value="Afghanistan">Afghanistan</option>
                <option disabled value="Aland Islands">Aland Islands</option>
                <option value="Albania">Albania</option>
                <option disabled value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
            </select>
        </div>
        </div>
        </div>
    </div>

        <!-- Add event -->
        <div class="modal fade" id="addNew-event" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Planifier une réunion</h4>
                    </div>
                    <div class="modal-body">

                        <form class="addEvent" role="form">
                            <div class="form-group">
                                <label for="eventName">Sujet de la réunion</label>
                                <div class="fg-line">
                                    <input type="text" class="input-sm form-control" id="eventName" placeholder="Sujet">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="eventName">Les employés participants</label>
                                <div class="fg-line">
                                    <input type="text" class="input-sm form-control" id="eventName" placeholder="eg: Sports day">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="eventName">Tag Color</label>
                                <div class="event-tag">
                                    <span data-tag="palette-Teal bg" class="palette-Teal bg selected"></span>
                                    <span data-tag="palette-Red bg" class="palette-Red bg"></span>
                                    <span data-tag="palette-Pink bg" class="palette-Pink bg"></span>
                                    <span data-tag="palette-Blue bg" class="palette-Blue bg"></span>
                                    <span data-tag="palette-Lime bg" class="palette-Lime bg"></span>
                                    <span data-tag="palette-Green bg" class="palette-Green bg"></span>
                                    <span data-tag="palette-Cyan bg" class="palette-Cyan bg"></span>
                                    <span data-tag="palette-Orange bg" class="palette-Orange bg"></span>
                                    <span data-tag="palette-Purple bg" class="palette-Purple bg"></span>
                                    <span data-tag="palette-Gray bg" class="palette-Grey bg"></span>
                                    <span data-tag="palette-Black bg" class="palette-Black bg"></span>
                                </div>
                            </div>

                            <input type="hidden" id="getStart" />
                            <input type="hidden" id="getEnd" />
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm" id="addEvent">Add Event</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <script type="text/javascript">
        $(function () {
            $('#lstFruits').multiselect({
                includeSelectAllOption: true
            });
            $('#btnSelected').click(function () {
                var selected = $("#lstFruits option:selected");
                var message = "";
                selected.each(function () {
                    message += $(this).text() + " " + $(this).val() + "\n";
                });
                alert(message);
            });
        });
    </script>



{% endblock %}
