{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
 MANAGEMENT
{% endblock %}

{% block descheader %}
description
{% endblock %}

{% block bodyheader %}
    <!--**********************************************************-->
    TEST HEADER
{% endblock %}

{% block bodymain %}
    <!--**********************************************************-->
    <h1>BODY</h1>
{% endblock %}
