<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <title>Social Pro</title>
    <link rel="icon" href="img/logosp.ico" />


    <link rel="stylesheet" href="css/style.css">


</head>

<body>

<div class="wrapper">

    <br/><br/><br/>
    <div class="container1">
        <div class="card"></div>

        <div class="card">
            <center> <img src="img/logosp.png"  width="150px" height="150px"/></center>
            <br/>

            <form>
                <div class="input-container1">
                    <input type="#{type}" id="#{label}" />
                    <label for="#{label}">Email</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container1">
                    <input  type="Password" id="#{label}" required="required"/>
                    <label for="#{label}">Mot de passe 	</label>
                    <div class="bar" style="height: 2px;"></div>
                </div>
                <div class="button-container1">
                    <button>LOGIN</button>
                </div>
                <div class="footer"><a href="index_MotDePasse.html">Mot de passe oublié ?</a></div>
            </form>
        </div>
        <div class="card alt">
            <div class="toggle"><div><img src="img/di.png"></div></div>
            <h1 class="title">Demande d'inscription
                <div class="close"></div>
            </h1>
            <form>
                <div class="input-container1" style="margin-bottom: 7px;">
                    <input type="#{type}" id="#{label}" required="required"/>
                    <label for="#{label}">Nom</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container1" style="margin-bottom: 7px;">
                    <input type="#{type}" id="#{label}" required="required"/>
                    <label for="#{label}">Prénom</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container1" style="margin-bottom: 7px;">
                    <input type="#{type}" id="#{label}" required="required"/>
                    <label for="#{label}">Email</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container1"style="margin-bottom: 7px;">
                    <input  type="Password" id="#{label}" required="required"/>
                    <label for="#{label}">Mot de passe</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container1"style="margin-bottom: 30px;">
                    <input  type="Password" id="#{label}" required="required"/>
                    <label for="#{label}">Confirmer votre mot de passe</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container1">
                    <button><span>Suivant</span></button>
                </div>
            </form>
        </div>
    </div>
    <ul class="bg-bubbles">

        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="js/index.js"></script>

</body>
</html>
