{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Statistiques
{% endblock %}

{% block active9 %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <!--**********************************************************-->
    <h1>BODY</h1>
{% endblock %}
