{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Statistiques
{% endblock %}

{% block active9 %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <!--**********************************************************-->
    <h1>Evolution des nombres de projets</h1>
    <div class="c-analytics row hidden-xs">
        <div class="col-sm-4">
            <div class="ca-item media">
                <div class="pull-right hidden-sm">
                    <div class="sparkline-bar-4 cai-chart"></div>
                </div>
                <div class="media-body">
                    <h2>987,459</h2>
                    <small> Evolution des nombres de projets</small>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ca-item media">
                <div class="pull-right hidden-sm">
                    <div class="sparkline-bar-5 cai-chart"></div>
                </div>
                <div class="media-body">
                    <h2>356,785K</h2>
                    <small>Website Impressions</small>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ca-item media">
                <div class="pull-right hidden-sm">
                    <div class="sparkline-bar-6 cai-chart"></div>
                </div>
                <div class="media-body">
                    <h2>$ 458,778</h2>
                    <small>Total Sales</small>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">

            <ul class="actions">
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-check-all"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-trending-up"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#">Change Date Range</a>
                        </li>
                        <li>
                            <a href="#">Change Graph Type</a>
                        </li>
                        <li>
                            <a href="#">Other Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="chart-edge">
                <div id="curved-line-chart" class="flot-chart "></div>
            </div>
        </div>
    </div>
{% endblock %}
