{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Demandes d'inscription
{% endblock %}

{% block descheader %}


{% endblock %}
{% block active2 %} class="sub-menu active" {% endblock %}
    {% block active23 %} class="active" {% endblock %}
{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <h1>BODY</h1>
{% endblock %}
