{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
  Forum
  <div class="pull-right">

    <p>
      <a class="btn palette-Teal bg" href="{{ path('discutea_forum_homepage') }}"><i
                class="zmdi zmdi-long-arrow-return zmdi-hc-fw"></i> Retourner à la liste des forums</a>
    </p>

  </div>
{% endblock %}

{% block active8 %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}
    {{ 'discutea.forum.post.editpost'|trans }}
{% endblock %}

{% block bodymain %}

  <div class="container">

  
  <ul id="postsList" class="list-unstyled">

    {% if postpreview %}
        {% include 'DForumBundle:Post:preview-post.html.twig' %}
    {% endif %}
    
  </ul>

  {% if form is not null %}


  
   {% include 'DForumBundle:Form:Post.html.twig' %}

  {% endif %}
  <div class="clearfix"></div>

</div>
{% endblock %}


{% block js %}
  {% if app.user %}
    {% if is_granted('ROLE_MODERATOR') %}
        {% javascripts
          '@DForumBundle/Resources/public/js/post.js'
          '@DForumBundle/Resources/public/js/moderator/post.js' %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts
          '@DForumBundle/Resources/public/js/post.js' %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
  {% endif %}
{% endblock %}
